body {
  background-color: #171718;
  color: #f5f5f7;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 300px;
}

.chatbox-header {
  background-color: #2d86e0;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  text-align: center;
}

.chatbox-body {
  background-color: #27272a;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  height: 300px;
  overflow-y: auto;
}

.message-bubble {
  background-color: #181824;
  color: #f5f5f7;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 80%;
}

.bot-message {
  background-color: #323233;
  align-self: flex-start;
}

.input-container {
  display: flex;
  margin-top: 10px;
}

.input-field {
  background-color: #38393b;
  color: #f5f5f7;
  border: none;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  flex: 1;
}

.send-button {
  background-color: #2d86e0;
  color: #f5f6f7;
  border: none;
  padding: 10px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
