.calendar-view {
  background-color: #2c2c2c;
  padding: 20px;
  border-radius: 8px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.upcoming-events {
  margin-bottom: 20px;
}

.event-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  margin-bottom: 10px;
}

.event-details {
  display: flex;
  align-items: center;
}

.event-item span, .event-item h4, .event-item p {
  margin-right: 10px;
}

.event-actions {
  display: flex;
  align-items: center;
}

.event-item span {
  background-color: #555;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 10px;
}

.event-item h4 {
  margin: 0;
}

.event-item p {
  margin: 0 0 0 10px;
  color: #aaa;
}

.view-schedule-button {
  background-color: #2d86e0;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-schedule-button:hover {
  background-color: #333;
}

.refresh-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.refresh-button:hover {
  background-color: #0056b3;
}

.delete-button {
  margin-left: 10px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-button:hover {
  background-color: #ff0000;
}

.edit-button {
  background-color: #ffffff;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #b6b6b6;
}

.react-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.react-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background: #2c2c2c;
  overflow: auto;
  -webkit-overflow-scrolling: 'touch';
  border-radius: 10px;
  outline: none;
  padding: 20px;
  color: white;
}

.react-modal-content label {
  margin-bottom: 10px;
  display: block;
}

.react-modal-content input,
.react-modal-content button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

.add-event-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.controls {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.calendar-select {
  padding: 10px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #2c2c2c;
  color: white;
}

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: none;
  background-color: #555;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-left: 5px;
}

.icon-button:hover {
  background-color: #777;
}