.task-list {
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 8px;
  color: #fff;
}

.task-list-items {
  margin-bottom: 20px;
}

.task-item {
  background-color: #333;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-item h3 {
  margin: 0;
}

.task-item.completed h3 {
  text-decoration: line-through;
  color: #aaa;
}

.task-actions {
  display: flex;
  gap: 10px;
}

.complete-icon,
.delete-icon {
  cursor: pointer;
  font-size: 20px;
}

.complete-icon:hover,
.delete-icon:hover {
  color: #ccc;
}

.task-input-container {
  display: flex;
  margin-bottom: 20px;
}

#task-input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #444;
  color: #fff;
}

.add-task-button {
  background-color: #2d86e0;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-task-button:hover {
  background-color: #484b4b;
}
