.widget-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.widget {
  background-color: #2e2c2c;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productivity-rate span {
  font-size: 24px;
  font-weight: bold;
  color: #4caf50;
}

.ai-bot-container .container {
  width: 300px;
}

.ai-bot-container .chatbox-header {
  background-color: #2d86e0;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  text-align: center;
}

.ai-bot-container .chatbox-body {
  background-color: #27272a;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.ai-bot-container .message-bubble {
  background-color: #181824;
  color: #f5f5f7;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 80%;
}

.ai-bot-container .bot-message {
  background-color: #323233;
  align-self: flex-start;
}

.ai-bot-container .input-container {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.ai-bot-container .input-field {
  background-color: #38393b;
  color: #f5f5f7;
  border: none;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  flex: 1;
  margin: 0;
  height: 20px;
  border-right: 0;
}

.ai-bot-container .send-button {
  background-color: #2d86e0;
  color: #f5f6f7;
  border: none;
  padding: 10px 15px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  margin: 0;
  height: 40px;
  box-shadow: none;
  border-left: 0;
}


.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 10px;
  height: 10px;
  margin: 5px;
  background-color: #2d86e0;
  border-radius: 50%;
  animation: fade 1.2s infinite ease-in-out both;
}

.circle:nth-child(2) {
  animation-delay: -1.1s;
}

.circle:nth-child(3) {
  animation-delay: -1.0s;
}

@keyframes fade {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

.message-bubble {
  background-color: #181824;
  color: #f5f5f7;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 80%;
  display: inline-block;
}

.user-message {
  background-color: #4a76a8;
  align-self: flex-end;
  display: inline-block;
}

.bot-message {
  background-color: #323233;
  align-self: flex-start;
  display: inline-block;
}