/* Styles specific to the dashboard route */
.dashboard .app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dashboard .content {
  display: flex;
  flex: 1;
}

.dashboard .main-content {
  flex: 1;
  padding: 70px;
  background-color: #202024;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
